---

---

<html lang="en">
	<head>
		
		<meta charset="utf-8" />
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- Web Appify -->
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Manifest JSON  -->
		<link rel="manifest" href="manifest.json">
		<!-- Our Scripts -->
		<script src="../script.js"></script>
		
		<title>GIPHY</title>
	
	</head>
	<body>

		<!-- <h1 class="text-9xl text-center text-orange-500">GIPHY</h1> -->

		<!-- <button class="btn">Button</button> -->

		<!-- Container -->
		<div class="container carousel rounded-box">
			
			<!-- Template -->
			<!-- <div class="carousel-item">
			  <img src="https://daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.jpg" alt="Burger" />
			</div>  -->
		  
		</div>
		
	
	</body>
</html>
